.bird-img-holder {
    padding-left: 70%;
}

img {
    width: 60%;
    height: auto;
}

.bird-img {
    margin: 0px;
}

.instructors-node {
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    background: rgb(236, 236, 236);
    box-shadow: 2px 3px 8px #919191;
    position: relative;
    top: 0;
    transition: 0.1s ease-in;
}

.instructor-node-banner {
    background: #EC2227;
    height: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 15px;
}

.instructors-node-title {
    padding-left: 15px;
    font-size: 16px;
    margin-bottom: 15px;
}

.instructors-names {
    padding-left: 15px;
}

.instructors-node:hover {
    top: -3px;
    box-shadow: 2px 3px 8px #919191;
}